{{define "title"}}Role ve hře Švestka{{end}}

{{define "content"}}

    <table>
        <tr>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Popularita</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Surname}}</td>
            <td>{{if gt .Popularity 0}}{{.Popularity}}{{else}}&times;{{end}}</td>
        </tr>
        {{end}}
    </table>
{{end}}