{{define "title"}}Role ve hře Švestka{{end}}

{{define "content"}}

<table>
    <tr>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Popularita</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Surname}}</td>
        <td>{{if gt .Popularity 0}}{{.Popularity}}{{else}}&times;{{end}}</td>
    </tr>
    {{end}}
</table>
{{end}}


<html>

<head>
    <title>{{block "title" .}} {{end}}</title>
</head>

<body>
    <h1>{{block "title" .}} {{end}}</h1>
    {{template "content" .}}
</body>

</html>