    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{block "title" .}} {{end}}</title>
        <!-- <link rel="stylesheet" href="/backend/static/css/backend.css?sv={{.ServerVersion}}">

        {{if eq "shopify" .Auth.Platform}}
            <script src="https://unpkg.com/@shopify/app-bridge@2"></script>
            <script type="text/javascript">
                const AppBridge = window['app-bridge'];
                const actions = AppBridge.actions;
                const createApp = AppBridge.createApp;
                const Redirect = actions.Redirect;


                const app = createApp({
                    apiKey: '{{.Auth.Platforms.ApiKey}}',
                    shopOrigin: '{{.Auth.ShopName}}',
                });

                {{if .PermissionsLift.PermLiftRequired}}
                Redirect.create(app).dispatch(Redirect.Action.REMOTE, {{.PermissionsLift.PermLiftUrl}});
                {{end}}

            </script>
        {{end}} -->
<!-- 
        {{block "style" .}} {{end}}
        {{block "head-js" .}} {{end}} -->
    </head>
    <body>
    {{template "content" .}}
    </body>
    </html>