{{define "title"}}Admin Config{{end}}

{{define "content"}}
  <form action="/action_page.php" method="get" target="_blank">
    <label for="AccountNumber">Accound Number:</label>
    <input type="text" id="AccountNumber" name="AccountNumber"><br><br>
    
    <label for="SortCode">Sort Code:</label>
    <input type="text" id="SortCode" name="SortCode"><br><br>

    <label for="BankedKey">Banked Key:</label>
    <input type="text" id="BankedKey" name="BankedKey"><br><br>

    <label for="BankedSecret">Banked Secret:</label>
    <input type="text" id="BankedSecret" name="BankedSecret"><br><br>

    <input type="submit" value="Submit">
  </form>
{{end}}